:root {
    --primary : #E87EEF;
    --background : #22252C;
    --text: #EDF3FC;
    --shadow: #030303;

    --vh: 1vh;
}

body {
    background-color: var(--background);
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

header {
    background-color: var(--primary);
    height : max(calc(var(--vh, 1vh) * 40), 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: var(--background);
    position: sticky;
    top: calc(100px - calc(var(--vh, 1vh) * 40));
    box-shadow: 0 2px 10px var(--shadow);
}

img.main-icon {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    width: 80%;
    max-width: 700px;
}

div.main-content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

div.header-spacer {
    height: 200px;
}

div.hero {
    color: var(--primary);
    font-weight: 700;
    font-size: 3em;
    margin: 0 20px;
    text-align: center;
    height: calc(calc(var(--vh, 1vh) * 60) - 200px);
}

div.after-hero {
    color: var(--text);
    font-weight: 700;
    font-size: 3em;
    margin: 0 20px;
    text-align: center;
}

@media screen and (max-width:600px) {
    header {
        top: calc(80px - calc(var(--vh, 1vh) * 40));
    }

    body {
        font-size: 12px;
    }

    div.header-spacer {
        height: 100px;
    }
    
    div.hero {
        height: calc(calc(var(--vh, 1vh) * 60) - 100px);
    }
}